apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  labels:
    app: api-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: keplereum/api-gateway
          imagePullPolicy: Always
          ports:
            - containerPort: 8222
          env:
            - name: CONFIG_SERVER_URL
              value: http://config-server:8888

---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway-svc
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8222
      protocol: TCP
  selector:
    app: api-gateway